First-Semester/Web Programming/bookstore1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="https://www.w3.org/2001/XMLSchema">
<xs:element name="bookstore">
<xs:complextype>
<xs:sequence>
	<xs:element name="book">
	<xs:complextype>
	<xs:atrribute type="xs:string" name="category"/>
	<xs:sequence>
		<xs:element name="title">
		<xs:complextype>
		<xs:simplecontent>
		<xs:extension base="xs:string">
		<xs:attribute type="xs:string" name="lang"/>
		</xs:extension>
		</xs:simplecontent>
		</xs:complextype>
		</xs:element>

		 
